{{!-- Sets up a card for each article --}}

<div  class="container-wrap-wrap" id="allArticles">

    {{#each article}}

        <div class="card" id="articleCard">
            <div class="card-header">
                <h3 class="card-title">{{this.title}}</h3>
            </div>

            <div class="card-body">
                <div class="media"> 
                    <span class="teaser">
                        <h6 class="mt-0 mb-1">{{this.teaser}}</h6>
                    </span>
                    <span class= "image"><img src="{{this.img}}" class="ml-3" alt="No Image" onerror="this.src='https://1.bp.blogspot.com/-Wra-8gs62ks/WVUqCvyteFI/AAAAAAAAHAk/ZBjQ7ukNoF88i_KO05hTbN3tnuVlyFkNwCLcBGAs/s1600/npr_news_icon.png';" style="width:200px; height:200px"></img></span>   
                </div>   
                <br>
                <div>
                    <span>
                       <span id = "base"><a href="{{this.link}}" class="btn btn-primary follow"><h4>Read Full Article @ <img class="read" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/National_Public_Radio_logo.svg/1200px-National_Public_Radio_logo.svg.png" style="width:75px;height:25px">  WORLD NEWS</h4></a>
                       <a id = "commentBtn" onclick='$("#commentblock{{this.id}}").toggle()' class = "btn" > Comments </a>                
                       <a id = "removeBtn" class = "btn" method = "GET" href = "/deleteArticle/{{this.id}}"> Remove Article </a> </span>
                    </span>
            </div>
        </div>

            <div id="commentblock{{this.id}}" class="card commentblock">
                <div class = "commentForm">
                    <form action="/addComment/{{this.id}}" method="POST" class="card-panel">
                    <div class="input-field">
                        <i class="commentHead"><h4>Add Comment</h4></i>
                        <input id="commentBody" type="text" placeholder="Enter text" name="commentBody" class="">
                    </div>
                    <div class="btn">
                        <center><input class="btn subBtn" type="submit" value="Submit"></center>
                    </div>
                </form>
                </div>

                {{#if this.comment}}
                {{#each this.comment}}
                
            <div> 
                <div class="card commentcard">
                    <p>{{this.commentBody}}</p>
                        <a id = "delBtn" class = "btn" method = "GET" href = "/deleteComment/{{this.id}}"> Delete Comment  </a>
                </div>
            </div>        
                {{/each}}

                {{else}}
                    <h5>This article has no comments.</h5>
                {{/if}}
        </div>
            {{/each}}
    </div>

</div>